body{
	background-color: white; 

}

.container{
	width: 80%%;
	flex-wrap: wrap; 
	flex-flow: column; 
	justify-content: space-between;
	align-content: space-between; 
	flex-basis: auto; 
	display: flex; 

}


#bok {
	background-color: #9dbebb;	
	margin-bottom: 25px;

}

#bijbel{
	background-color: #77aca2;
	margin-bottom: 25px;

}

#klok {
	background-color: #c9ada1;	
	margin-bottom: 25px;

}

#killer{
	background-color: #c9ada1;	
	margin-bottom: 25px; 
 
}

#toetsenbord{
	background-color: #c9ada1;	
	margin-bottom: 25px;
	
}

#compact{
	background-color: #9dbebb;	
	margin-bottom: 25px; 
 
}

#web{
	background-color: #77aca2;	
	margin-bottom: 25px; 
 
}

#iphone{
	background-color: #77aca2;	
	margin-bottom: 25px; 
	
}

p {
	font-family: daunpenh;
	font-size: 22px; 
	color: white;
	width: 80%;
	text-align: justify; 
	margin-left: auto;
	margin-right: auto; 
	padding-left: 40px; 
	padding-right: 40px;
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 1.5em;
}


h1 {
	color: black;
	font-family: daunpenh; 
	color: #282828;
	font-size: 32px;
	text-align: center;
	letter-spacing: 8px;
	
}

#tech{
	font-family: century gothic;
	font-size: 38px;	
	letter-spacing: 14px;
	font-weight: bold;
}

h2 {
	font-family: century gothic; 
	font-size: 30px; 
	color: white; 
	letter-spacing: 10px;
	text-align: center; 	
}

h3 {
	font-family: daunpenh; 
	font-size: 22px; 
	color: #282828; 
	background-color: white; 
	width: 340px; 
	margin-left: auto;
	margin-right: auto; 
	text-align: center; 
	vertical-align: center; 
	letter-spacing: 5px; 
}

img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
	box-shadow: 11px -11px white; 
	max-width: 150px;
	max-height: 180px; 	
}

@media only screen and (min-width: 768px) {
	
	.container {
		margin: 0 auto; 
		width: 80%;
		}
	p {
		font-size: 32px;}
	
	h2{
		font-size: 52px;}
		
	h3{
		font-size: 36px;
		width: 500px; 
		margin-left: auto;
		margin-right: auto; 
		letter-spacing: 5px;
		}
	
	img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
	box-shadow: 11px -11px white; 
	max-width: 200px;
	max-height: 240px; 
	}
		
}

@media only screen and (min-width: 1024px) {
	
	.container {  
		width: 90%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;}
	
	.item{
        flex: 1 1 80px;
		margin: 10px;
		width: 350px;
		}
		
	#bok {
		height: 800px;}
	#bijbel{
		height: 800px;}
	#klok{
		height: 800px}
	#web{
		height: 800px}
	#killer{
		height: 800px}
	#iphone{
		height: 800px}
	#toetsenbord{
		height: 800px}
	#compact{
		height: 800px}
	
	h2{
		font-size: 40px;}
		
	h3{
		font-size: 28px;
		width: 400px; 
		margin-left: auto;
		margin-right: auto; 
		letter-spacing: 5px;
		justify: center;}
	
	img {
		
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
		box-shadow: 11px -11px white; 
		max-width: 200px;
		max-height: 240px;  }
	
	
	p{
		font-size: 24px;}

	#killer2 {
		font-size: 30px;
	}	
}		
		
@media only screen and (min-width: 1440px) {
	
	.container {  
		width: 95%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;}
	
	.item {
        flex: 1 1 80px;
		margin: 10px;
		width: 350px;
		}
	#bok {
		height: 800px;}
	#bijbel{
		height: 800px;}
	#klok{
		height: 800px}
	#web{
		height: 800px;
		}
	#killer{
		height: 600px;
		}
	#iphone{
		height: 600px;
		}
	#toetsenbord{
		height: 800px
		}
	#compact{
		height: 800px
		}
	
	h2{
		font-size: 40px;}
		
	h3{
		font-size: 28px;
		width: 400px; 
		margin-left: auto;
		margin-right: auto; 
		letter-spacing: 5px;
		justify: center;}
	
	img {
		
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
		box-shadow: 11px -11px white; 
		max-width: 200px;
		max-height: 240px;  }
	
	
	p{
		font-size: 24px;}

	#killer2 {
		font-size: 30px;
	}	
}				
		
		
		
		
		
		
		
		